@media (min-width: 768px) {
    .logoo {
        width:200px;
        height:80px;
        background:url("../../images/logo/800.png");
    }
}

@media (min-width: 992px) {
    .logoo {
        width:400px;
        height:220px;
        background:url("../../images/logo/800.png");
    }
}

@media (min-width: 1200px) {
    .logoo {
        width:800px;
        height:440px;
        background:url("../../images/logo/800.png");
    }
}